.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px; /* Increase or decrease the width as needed */
}

.rInput {
    height: 30px;
    padding: 10px;
    width: 100%; /* Input fields will now span the entire container width */
}

.rButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; /* Register button will now span the entire container width */
}

.rButton:disabled {
    background-color: #0071c28c;
    cursor: not-allowed;
}
