.forgotpassword {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px; /* Increase or decrease the width as needed */
}

.lInput {
    height: 30px;
    padding: 10px;
    width: 100%; /* Input fields will now span the entire container width */
}

.lButton {
    border: none;
    padding: 10px 20px;
    background-color: #4caf50; /* Light green color */
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%; /* Submit button will now span the entire container width */
}

.lButton:disabled {
    background-color: #4caf508c; /* Light green color with reduced opacity */
    cursor: not-allowed;
}

.error-message {
    color: red;
    position: absolute;
    bottom: -20px; /* Adjust as needed */
  }